@import "../../vars.css";

.container {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  background: linear-gradient(180deg, #576cbc 0%, #132a53 100%);
  box-shadow: 0 16px 14px 0 #04152d;
  padding: 18px 24px;
  /* max-width: 345px; */
  margin-left: 10px;
  margin-right: 10px;
  height: 700px;
}

.image {
  margin-bottom: 26px;
  width: 100%;
  min-height: 35%;
  border-radius: 5%;
}

.title {
  font-size: 25px;
  font-weight: 700;
  min-height: 13%;
  color: azure;
}

.description {
  margin-top: 6px;
  font-size: 20px;
  font-weight: 400;
  min-height: 15%;
  flex-grow: 1;
  color: beige;
}

.container_2{
  min-height: 18%;
  width: 100%;
}

.skills {
  width: 100%;
  margin-top: 14px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 6px;
  list-style: none;
}

.skill {
  font-size: 20px;
  font-weight: 400;
  border-radius: 100px;
  background: var(--color-dark);
  padding: 2px 22px;
  color: azure;
}

.links {
  width: 100%;
  margin-top: 15px;
  display: flex;
  justify-content: left;
  padding-bottom: 30%;
}

.link {
  text-decoration: none;
  color: var(--color-text-2);
  font-size: 25px;
  font-weight: 100;
  border-radius: 100px;
  padding: 1px 22px;
  border: 1px solid white;
}
.link:hover{
  background: var(--color-primary);
  border: none;
}
